/* タブレット向けレイアウト */
@media all and (max-width: 1199px) {
.inner{
  width:97%;
}
.keyvisual {
  padding: 250px 0;  
}
.news{
  padding-bottom:50px;
}
.newslist{
 flex:block;
}
.newspic{
  width:100%;
  text-align: center;
}
.heading{
  width:100%;
  text-align: center;
}
.skill{
  width:100%;
  margin:0;
}
.skillist{
  flex-direction:column;
}
.skill-icon{
  margin:0 auto;
}
.skill:nth-child(3n){
  margin-bottom:80px;
}
}


/* モバイル向けレイアウト */
@media all and (max-width: 767px) {
.header-right{
  display:none;
 }
.menu-icon{
  display:block;
}
.keyvisual {
  padding: 200px 0;  
}
.keyvisual h1 {
  font-size: 40px;
}
.keyvisual p {
  font-size: 30px;
}
.th{
  font-size: 14px;
  line-height:22px;
}
.tb{
  font-size: 12px;
}
.menu-icon{
  display:block !important;
}
.is_flex{
  flex-direction:column;
}
.icons-wrapper{
padding:50px 0;
}
.icons{
  margin:0 15px;
}
.icon{
  width:100%;
  margin:50px 0;
}
.icon:nth-child(1){
  margin:0 auto;
  margin:50px 0;
}

}
