@charset "utf-8";

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }

  header {
    width: 100%;
    background-color: #fff;
    position :fixed;
    top: 0;
    z-index:10;
  }
  .menu-icon {
    float: right;
    font-size: 50px;
    padding: 21px 0;
    display: none !important;
  }
  
  a {
    text-decoration: none;
  }
  
  .inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  
  .keyvisual {
    padding:400px 0;
    margin-top: 78px;
    background-image:url("images/keyvisual/keyvisual.jpg");
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .keyvisual h1 {
    font-size: 65px;
    font-weight: 700;
    color:#6ba7eb;
  }
  
  .keyvisual p {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }

  .news{
    background-color: #e3f2fd;
    padding-top: 50px;
  }

  .heading p{
    line-height: 18px;
    font-size:15px;
    word-break:break-all;
  }

  .newspic{
    width:250px;
  }

  .newsimg{
    width:250px;
  }

  .heading h2{
    margin:20px 0 35px 0;
  }

  h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
  }

  .skills{
    margin-top: 50px;
  }

  .btn {
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
    color:#8c8c8c;
  }

  .fas{
    color:#8c8c8c;
  }

  .fa-brands{
    color:#8c8c8c;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
    padding:15px 0;
    color:#777;
  }
  
  .header-right {
    float: right;
    padding:15px 0;
  }
  
  .header-right a {
    line-height: 100%;
    padding: 15px 15px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
    background-color: #55acee;
  }
  
  .header-right a:hover {
    color: #333;
  }
  
  .skilllist {
    padding-top: 50px;
    background-color: #fff;
  }

  .is_flex{
    display: flex;
    flex-wrap:wrap;
  }

  .heading {
    color:black;
    width: 850px;
    text-align: center;
  }
  
  .skill {
    margin:0 100px 100px 0;
  }

  .skill:nth-child(3){
    margin:0;
  }

  .skill:nth-child(6){
    margin:0;
  }
  
  .skill-icon {
    position: relative;
    width:300px;
    height:300px;
    opacity: 0.7;
  }

  .skill-icon:hover{
    opacity: 1;
  }

  .iconimg{
    width:300px;
    height:300px;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  
  .plans {
    padding:50px 0 50px 0;
    background-color: #d0dfea;
  }

  table {
    margin-top: 50px;
    width:100%;
    text-align: center;
  }

  th{
    color: black;
    padding:10px;
    width:25%;
    line-height: 26px;
    border-left-width:2px;
    border-bottom-width:2px;
    border-color: #fff;
    border-style: solid;
    background-color: #6ba7eb;
    font-size: 16px;
    font-weight: bold;
  }

  td{
    color: black;
    padding:10px;
    width:25%;
    line-height: 26px;
    border-left-width:2px;
    border-bottom-width:2px;
    border-color: #fff;
    border-style: solid;
    font-size: 16px;
    font-weight: bold;
  }

  .plan1 {
    background-color: #f9f9f9;
    font-size: 16px;
  }

  .plan2 {
    background-color: #e0efff;
    font-size: 16px;
  }

  th:nth-child(1){
    border-left-width:0;
    font-weight: bold;
  }

  td:nth-child(1){
    border-left-width:0;
    font-weight: bold;
  }

  .icons-wrapper{
    background-color: #e3f2fd;
    text-align:center;
  }

  .icons{
    padding:200px 0 ;
  }

  .icon{
    font-size:40px;
    width:185px;
    margin:25px 0 25px 0;
    overflow:hidden;
  }

  .icon:hover{
    transition: all 0.5s;
    background-color: #fff;
  }

  .icon:nth-child(1){
    margin-left:180px;
  }

  .flex-list{
    display:flex;
    flex-wrap:wrap;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #cfd8dc;
  }

  .Copyright{
    padding:25px 0 25px 0;
    font-size: 13px;
    text-align: right;
    letter-spacing:0.5px;
  }